mixin accordion(data)
  - mClass = 'accordion'
  - modifiers = data.modifiers || null
  - strModifier = ''
  - sections = data.sections || null
  - contentWrapperClass = data.contentWrapperClass || 'accordion-content-wrapper'

  if (modifiers && modifiers.length > 0)
    each modifier, index in modifiers
      - strModifier += index === 0 ? `${mClass}--${modifier}`: ` ${mClass}--${modifier}`

  div(class=`${mClass}${strModifier ? ` ` + strModifier : ``}`)
    .accordion__list
      if (sections && sections.length > 0)
        each section, index in sections
          - expanded = section?.expanded || null
          - sectionName = section?.name || `Section name ${index+1}`
          - sectionContentType = section?.contentType || 'text'
          .accordion__item(class=expanded ? 'accordion__item--expanded':'')
            .accordion__head
              .accordion__info
                .accordion__name=sectionName
              .accordion__arrow
                svg(class="svg-icon" viewBox="0 0 24 24" width="24" height="24"): use(xlink:href="#svg-accordion-arrow")
            .accordion__body
              if (section.content)
                .accordion__content!=section.content
