mixin advantage(data)
  - title = data?.title || null
  - logo = data?.logo || null
  - description = data?.description || null
  - list = data?.list || null

  section.advantage(id="advantage")
    .advantage__container
      .advantage__col
        .advantage__info
          if title
            .advantage__title
              span=title
          if logo
            .advantage__label Профессиональный электроинструмент от:
            .advantage__logo: img(src="images/logo_writing_black.svg")
          if description
            .advantage__description!=description
        .advantage__controls
          a(href="#products" class="btn btn--primary" data-smooth-scroll=true) Продукция и услуги
          button(type="button" class="btn btn--outline-primary header__button" data-toggle="modal" data-target="#contactModal") Связаться с нами
      .advantage__col
        if (list && list.length)
          .advantage__list
            each item, index in list
              - name = item?.name || `Advantage ${index+1}`
              - text = item?.text || `Lorem imsum sit amet`
              .advantage__item
                .advantage__item-name=name
                .advantage__item-text!=text